.content {
    border: 1px solid gray;
    display: flex;
}

.countries, .ctx {
    border: 1px solid gray;
    margin: 6px;
}

.countries {
    width: 25%;
}

.ctx {
    width: 73%;

}

.countries div{
    border: 1px sloid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: bisque;
    margin: 3px;
    padding: 4px;
    text-align: center;
    transition: 0.5s ease;
}

.countries div:hover {
    background: none;
    font-size: larger;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
}